@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-fun-key: darkslateblue;
  --color-key: darkcyan;
}

body {
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

.admin-keyboard {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  top: 30px;
  right: 30px;
  width: 800px;
  height: 100px;
  background-color: rgba(0, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: rgba(75, 143, 143, 0.1) -25px 25px, rgba(75, 143, 143, 0.3) -20px 20px, rgba(75, 143, 143, 0.5) -15px 15px, rgba(75, 143, 143, 0.6) -10px 10px, rgba(75, 143, 143, 0.8) -5px 5px;
          box-shadow: rgba(75, 143, 143, 0.1) -25px 25px, rgba(75, 143, 143, 0.3) -20px 20px, rgba(75, 143, 143, 0.5) -15px 15px, rgba(75, 143, 143, 0.6) -10px 10px, rgba(75, 143, 143, 0.8) -5px 5px;
}

.info-keyboard {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: black;
}

.swich-lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--color-fun-key);
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -3px 3px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -8px 8px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -11px 11px;
          box-shadow: rgba(240, 46, 170, 0.4) -3px 3px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -8px 8px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -11px 11px;
}

.swich-lang:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.swich-lang:active {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
          box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
  -webkit-transform: translateX(-3px) translateY(3px);
          transform: translateX(-3px) translateY(3px);
}

.swich-lang p {
  font-family: 'Roboto Mono', monospace;
  font-size: 26px;
  line-height: 100%;
  color: black;
}

.input-area {
  width: 1100px;
  height: 170px;
  outline: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 100px;
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
  line-height: 110%;
  color: rgba(0, 255, 255, 0.9);
  resize: none;
  background-color: #303030;
  border: 0px solid;
  overflow: auto;
}

.input-area::-webkit-scrollbar {
  width: 0;
}

.keyboard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 1400px;
  height: 500px;
  background-color: rgba(0, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: rgba(75, 143, 143, 0.1) -25px 25px, rgba(75, 143, 143, 0.3) -20px 20px, rgba(75, 143, 143, 0.5) -15px 15px, rgba(75, 143, 143, 0.6) -10px 10px, rgba(75, 143, 143, 0.8) -5px 5px;
          box-shadow: rgba(75, 143, 143, 0.1) -25px 25px, rgba(75, 143, 143, 0.3) -20px 20px, rgba(75, 143, 143, 0.5) -15px 15px, rgba(75, 143, 143, 0.6) -10px 10px, rgba(75, 143, 143, 0.8) -5px 5px;
}

.keyboard .row-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.keyboard .key {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--color-key);
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -3px 3px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -8px 8px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -11px 11px;
          box-shadow: rgba(240, 46, 170, 0.4) -3px 3px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -8px 8px, rgba(240, 46, 170, 0.1) -10px 10px, rgba(240, 46, 170, 0.05) -11px 11px;
}

.keyboard .key p {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 100%;
  color: black;
}

.keyboard .key:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.keyboard .key:active, .keyboard .key.active {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
          box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
  -webkit-transform: translateX(-3px) translateY(3px);
          transform: translateX(-3px) translateY(3px);
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.keyboard .esc {
  width: 80px;
  background-color: var(--color-fun-key);
}

.keyboard .tab {
  width: 130px;
  background-color: var(--color-fun-key);
}

.keyboard .backspace {
  width: 160px;
  background-color: var(--color-fun-key);
}

.keyboard .symOr {
  width: 110px;
  background-color: var(--color-fun-key);
}

.keyboard .del {
  width: 70px;
  background-color: var(--color-fun-key);
}

.keyboard .capslock {
  width: 140px;
  background-color: var(--color-fun-key);
}

.keyboard .capslock.active-up, .keyboard .capslock.active-up {
  background-color: #8370fd;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
          box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
  -webkit-transform: translateX(-3px) translateY(3px);
          transform: translateX(-3px) translateY(3px);
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.keyboard .enter {
  width: 190px;
  background-color: var(--color-fun-key);
}

.keyboard .shift {
  width: 120px;
  background-color: var(--color-fun-key);
}

.keyboard .shift.active-up, .keyboard .shift.active-up {
  background-color: #8370fd;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
          box-shadow: rgba(240, 46, 170, 0.4) -2px 2px, rgba(240, 46, 170, 0.3) -4px 4px, rgba(240, 46, 170, 0.2) -6px 6px, rgba(240, 46, 170, 0.1) -8px 8px, rgba(240, 46, 170, 0.05) -9px 9px;
  -webkit-transform: translateX(-3px) translateY(3px);
          transform: translateX(-3px) translateY(3px);
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.keyboard .ctrl {
  width: 90px;
  background-color: var(--color-fun-key);
}

.keyboard .alt {
  width: 90px;
  background-color: var(--color-fun-key);
}

.keyboard .win {
  width: 90px;
  background-color: var(--color-fun-key);
}

.keyboard .arrow-up, .keyboard .arrow-left,
.keyboard .arrow-down, .keyboard .arrow-right {
  width: 70px;
  background-color: var(--color-fun-key);
}

.keyboard .space {
  width: 520px;
  background-color: var(--color-fun-key);
}
/*# sourceMappingURL=style.css.map */